.todo {
    margin-top: 2rem;
    .navbar {
        color: white;
        background-color: blue;
        padding: 1.5rem;
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
    }

    .list {
        display: flex;
        align-items: center;
        justify-content: center;

        .one {
            display: flex;
            align-items: center;
            flex-direction: column;
            border: 1px solid black;
            border-radius: 10px;
            background-color: cadetblue;
            width: 50%;
            margin-bottom: 2rem;
            padding-top: 1rem;

            // Shoadow 
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

            .search-box{
                outline: none;
            }
            .task-list {
                background-color: rgb(195, 49, 49);
                color: white;
                padding: 1rem;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                margin-top: 0.5rem;
                width: 80%;

                .icons {
                    .delete-icon {
                        cursor: pointer;
                    }

                    .update-icon {
                        cursor: pointer;
                    }
                }
            }

            .task-list:hover {
                background-color: aqua;
                color: black;
            }

            .Form-component {
                .two {
                    .add-btn {
                        margin: 1rem;
                        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
                        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
                        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
                    }

                    .add-btn:hover {
                        background-color: rgb(186, 104, 90);

                        -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
                        -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
                        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
                    }
                }
            }
        }


    }

}